<div class="container101">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-lg-12">
      <h3>Financial Markets <span class="101">101</span></h3>
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-12 video-container" style="display: flex; justify-content: center;">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/WEDIj9JBTC8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
  </div>
</div>
