<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-lg-4 test">
      <div class="information">
        <h2>The most valuable commodity is information</h2>
      </div>
      <div class="news">
        <%= link_to posts_path do  %>
          <h1 class="btn btn-primary">News</h1>
        <% end %>
      </div>
      <!-- <div class="news-pic">

      </div> -->
    </div>
  </div>
</div>
