<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-lg-4 test card1" style="width: 44,3%">
      <div class="information">
        <h2>The most valuable commodity is information</h2>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4 test card2">
      <div class="news">
        <%= link_to posts_path do  %>
          <h1 class="btn btn-primary">News</h1>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-lg-4 test hide-mobile">
        <p>"The secret to being successful from a trading perspective</br> is to have an indefatigable</br> and an undying and unquenchable <span class="thirst"><em>thirst</em></span> for information and knowledge."</p>
    </div>
  </div>
</div>
