<div class="about-container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-lg-4">
      <div class="about-card-h1">
        <h1>About</h1>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-8">

      <div class="about-card">
      <!-- <h4>Together with a team of Research Analysts We Assisted Thousands Of Traders Worldwide Since 2000.</h4>
      <h4>Sir Arthur Gregory: </h4>
      <h4>"My Passion Is Helping New & Experienced Traders Achieve Their Goals."</h4>
      <h4>“Arthur is Indiana Jones for the digital age. I’ve already used his advice to go spearfishing on remote islands and ski the best hidden slopes of trading signals he provided. Simply put, do what he says and you can live like a millionaire.” -Albert Pope, Derivatives Trading, UBS World Headquarters</h4>
      <p>Our trading strategy has been time tested and resulted in a unique trading methodology that is suitable for trading all asset classes (Stocks/ Forex/ Crypto Currencies/ Commodities) and in all trading time frames, from intraday trading to swing trading and long term investment strategies.</p> -->
      </div>
    </div>
  </div>
</div>
