<div class="contact-container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-lg-4">
      <div class="contact-card">
      <h1>Contact us</h1>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-12">
      <div class="contact-info">
        <h3>E-mail: <span class="email">arthur.gregory@forexprime.com</span></h3>
        <h3>Swiss phone number: <span class="phone">+41435501345</span></h3>
        <h3>UK phone number: <span class="phone">+442037698753 (UK)</span></h3>
      </div>
    </div>
  </div>
</div>
