<%= render './shared/banner_posts' %>
<div class="posts-container">
  <div class="row">
      <% @posts.each do |p| %>
        <%= render './shared/card', p: p %>
      <% end %>
  </div>
  <% if session[:admin] then %>
    <%= link_to "Create a new post", new_post_path%>
  <% end %>
</div>
